
body {
    background-color: black;
    color :grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

p{font-family: Arial;

    margin-top: 0 ;
    margin-bottom: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.barbershop-image {
    width: 500%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    align-items: center;
}
.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.barbershop-image1, .barbershop-image2, .barbershop-image3, .barbershop-image4 {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
}



.title {
    font-size: 36px;
    text-align: center;
    color: rgb(64, 100, 206);
    font-weight: bold;
    margin-bottom: 10px;

}

.description {
    font-size: 16px;
    color: rgb(96, 96, 96);
}

.facebook-button {
    color: rgb(255, 254, 254);
    background-color: rgb(29, 155, 240);
    text-decoration: none;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
    transition: opacity 1s ease;
    
}


.facebook-button:hover {
    opacity: 0.8;
}



.call-button {
    color: rgb(255, 254, 254);
    background-color: green;
    text-decoration: none;
    padding: 10px 15px;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
    transition: opacity 1s ease;
}

.call-button:hover {
    opacity: 0.8;
}

h3 {
  margin-top: 30px;
}

.container {
    max-width: 1000px;
    padding: 20px;  
    margin: auto;
}

@media (max-width: 600px) {
  .image-container {
    flex-direction: column;
  } .image-container img {
    width: 100%;
  }

  header h1 {
    font-size: 24px;
  }
}

